/*Colours:
Dark teal: #8dafb5
Almost black: #010102
Light grey: #eaeced 
Orange: #f5c15b
Deep blue: #071540
Light teal: #d7e3e5
*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

nav img {
  max-height: 100px;
  max-width: 100px;
  margin-top: 20px;
}

.navigation {
  background-image: url("../images/top-index.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  min-height: 400px;
  background-position: 50% 70%;
  z-index: -1;
}

.navigation img {
  z-index: 1;
}

.nav_background-colour {
  background-color: #010102;
  color: #eaeced;
}

h1,
h2,
h3 {
  text-align: center;
}

h1,
h2,
h3,
p {
  font-style: normal;
  color: #010102;
}
h1 {
  font-family: "sneakers-pro", sans-serif;
  font-weight: 500;
}
h2,
h3,
a {
  font-family: "bc-sklonar", sans-serif;
  font-weight: 400;
}

a:hover {
  font-weight: 700;
}

h4,
p,
.opening-hours li,
.exhibition-item a,
.special-item a {
  font-family: "omnes-pro", sans-serif;
  font-weight: 100;
}

h4 {
  font-weight: 800;
}

hr {
  max-width: 130px;
}

footer {
  background-color: #8dafb5;
  height: 200px;
}

/*BACKGROUNDS*/

/*INDEX*/
.index-text {
  background-color: #010102;
  text-align: center;
  color: #eaeced;
  height: 200px;
}

.navigation h1,
.index-text p,
.index-text a,
.exhibition-item p,
.exhibition-item h3,
.special-item p,
.special-item h3,
.special-container h2,
.exhibition-container h2 {
  color: #eaeced;
}

.navigation h1 {
  font-size: 3.5rem;
  margin: 0 auto 5px;
  position: relative;
  top: 75px;
  line-height: 40px;
}

.index-text p {
  margin: 0 auto 15px;
  max-width: 250px;
}

.exhibition-container,
.special-container {
  background-color: #010102;
  display: flex;
  flex-direction: column;
}

.exhibition-item,
.special-item {
  background-color: #131313;
  flex: 1 1 auto;
  width: 250px;
  height: 400px;
  margin: 10px auto 20px;
  text-align: center;
  padding: 10px;
  box-shadow: -2px 6px 6px rgba(76, 112, 126, 0.2),
    2px 6px 6px rgba(255, 255, 255, 0.23);
}

.exhibition-item {
  border: 3px solid #8dafb5;
}

.special-item {
  border: 3px solid #f5c15b;
}

.special-item:active {
  background-color: #f5c15b;
}

.exhibition-item a,
.special-item a {
  color: #eaeced;
  text-decoration: none;
}

a.h3 {
  font-family: "bc-sklonar", sans-serif;
  font-weight: 400;
}

.exhibition-item img {
  max-width: 230px;
  max-height: 260px;
  overflow: hidden;
}

.visit-container {
  background-color: #d7e3e5;
  display: flex;
  flex-direction: column;
}

.visit-item {
  max-width: 250px;
  margin: auto;
}

/*A FUTURE IN SPACE*/
