/*Colours:
Dark teal: #8dafb5
Almost black: #010102
Light grey: #eaeced 
Orange: #f5c15b
Deep blue: #071540
Light teal: #d7e3e5
*/

/*FONTS and sizing*/
h1 {
  font-family: "sneakers-pro", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
}

.exhibition-item h2,
h3,
a,
.category-item p  {
  font-family: "bc-sklonar", sans-serif;
  font-style: normal;
  font-weight: 400;
}

p,
.in-text-link {
  font-size: 1.2rem;
}

.in-text-link {
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

a:hover {
  font-weight: 700;
}

h4,
p,
h2,
.for_kids h3,
.in-text-link,
.exhibition-item a,
.night-list,
.block-form label,
.night-form label,
.box-p,
.sub-header,
small,
.contact-form label,
.contact-form input,
.contact-form textarea,
.contact-form button,
.contact-form h2,
.message-form input,
.message-form textarea,
.message-form button {
  font-family: "omnes-pro", sans-serif;
}

h2,
h3,
h4,
.for_kids h3 {
  font-weight: 700;
}

a {
  text-decoration: none;
}

main a,
main p,
main h1,
main h2,
main h3 {
  padding: 10px 0;
}

a,
p,
h2,
h3,
.clicktodonate {
  width: 80%;
  margin: auto;
  text-align: left;
}

/*GENERAL STYLES*/

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

.img {
  min-width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #010102; 
  background-image: linear-gradient(#d7e3e5, #8dafb5);
}

nav img {
  max-height: 100px;
  max-width: 100px;
  margin-top: 20px;
}

nav {
  background-color: #010102;
  width: 70px;
  height: 100%;
  margin: 0;
  position: fixed;
  border-radius: 0 40px 30px 0;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2),
    6px 6px 6px rgba(0, 0, 0, 0.23);
}

nav ul {
  padding: 0;
}

nav a {
  color: #8dafb5;
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 2rem;
}

nav a:hover {
  color: #d7e3e5;
}

.current {
  color: #d7e3e5;
}

main {
  padding-bottom: 100px;
  margin-left: 70px;
}

.width-wrapper {
   max-width: 80%;
  margin: auto;
}

#logo {
  width: 70px;
  height: 70px;
  margin-left: -10px;
}

.menu-link {
  font-size: 0.5rem;
  margin: 0 auto;
  max-width: 50px;
  text-align: center;
  text-decoration: none;
}

.navigation img {
  z-index: 1;
}

h1 {
  text-align: center;
}

hr {
  width: 130px;
  border: 1.2px solid #8dafb5;
  margin-bottom: 30px;
}

footer {
  background-color: #8dafb5;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
}

.footer-item {
  flex: 1 1 auto;
  margin: auto;
}

.footer-item p {
  font-size: 0.8rem;
  max-width: 210px;
  line-height: 15px;
  text-align: center;
  margin: auto;
}

.footer-item i {
  font-size: 2rem;
  margin: 20px 10px 30px;
  color: #010102;
}

.footer-item img {
  width: 100px;
  height: 100px;
  margin: 30px auto 0;
}

.loader {
  text-align: center;
  padding: 30px;
}

/*HEADER IMAGES AND TEXT*/
.header-image {
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 200px;
}

.index-header {
  background-image: url("../images/visit-pic.jpg");
}

.index-image {
  background-image: url("../images/visit-pic-grey.jpg");
  height: 600px;
  background-position: bottom center;
}

.getinvolved-header {
  background-image: url("../images/romain-tordo-oWKN3h9CnPs-unsplash.jpg");
}

.explore-header {
  background-image: url("../images/caroline-hernandez-yl1wEVqEY8k-unsplash.jpg");
} 

.exhibition-item p,
.exhibition-item h3,
.exhibition-container h2 {
  color:#010102;
  text-align: center;
}

.ticket-text {
  color:#3b717a;
  font-weight: 800;
  text-align: center;
  font-size: 1.6rem;
  padding-bottom: 10px;
}

/*INDEX*/
/*Scroll indicator bouncing arrow*/
.scroll-indicator {	
  width: 80%;
  margin: auto;
	position: absolute;
	left: 50%;
  color: #010102;
	font-size: 2.5rem;
	-webkit-animation: bounce 1.1s infinite; 
	animation: bounce 1.1s infinite;
}

@-webkit-keyframes bounce {
  0% { top: 87%; }
  50% { top: 89%; }
  100% { top: 87%; }
}

@keyframes bounce {
  0% { top: 87%; }
  50% { top: 89%; }
  100% { top: 87%; }
}

/*Slide text*/
.slide-text {
  width:80%;
  margin: auto;
  overflow:hidden;
  position: absolute;
  top: 25%;
}
.slide-text p {
  animation: slide-left 2.5s;
  font-size: 2.6rem;
  margin: auto;
  font-weight: 700;
  color:#f5c15b;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 80%; 
  }

  to {
    margin-left: 10%;
    width: 80%;
  }
}

/*--*/

.category-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.category-item {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  text-transform: uppercase;
  background-color:#8dafb5;
  color: #3b717a;
}

.category-item p {
  width: 100%;
  text-align: center;
  font-weight: 600;
}

.map {
  margin: auto;
}

.telephoneandemail p {
  font-weight: 500;
  text-align: center;
}

.top {
  margin-top: 10px;
}

/*EXPLORE*/
.send_info {
  margin: 30px auto 50px;
  padding: 10px;
  background-color: #8dafb5;
  border-radius: 20px;;
  width: 80%;
}

.send_info p {
  font-size: 1rem;
  padding: 0;
  text-align: center;
}

.send_info label {
  display: none;
}

.send_info input,
.holiday-send {
  width: 100%;
  height: 50px;
  padding: 5px;
  margin: 5px auto;
  border-radius: 20px;
}

#holiday-mail {
  background-color: #eaeced;
  border: 1px solid #d7e3e5;
}

.holiday-send {
  background-color: #d7e3e5;
  border: none;
  box-shadow: -2px 6px 6px rgba(0, 0, 0, 0.2), 2px 6px 6px rgba(0, 0, 0, 0.23);
}

.holiday-send:hover {
  background-color: #010102;
  color: #8dafb5;
}

.telandemail p {
  font-weight: 650;
  text-align: center;
}

/*EXHIBITIONS and EVENTS*/
.exhibition-container h1,
.exhibition-container p,
.exhibition-item a {
  text-decoration: none;
}

.exhibition-container h1{
  margin:0;
  padding: 30px;
}

.exhibition-item p {
  font-size: 1rem;
  padding: 0;
}

.exhibition-item hr {
  border: 1.2px solid #010102;
}

.exhibition-item {
  background-color: #d7e3e5;
  border-radius: 20px;
  width: 250px;
  height: 400px;
  margin: 30px auto;
  text-align: center;
  box-shadow: 8px 8px 4.5px rgba(76, 112, 126, 0.2),
    2px 2px 6px rgba(255, 255, 255, 0.23);
}

.exhibition-item img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}


/*NIGHT IN THE MUSEUM*/
.night_back {
  background-color: #010102;
  padding-bottom: 40px;
}

.night-flex {
  display: flex;
  flex-direction: column;
}

.night-flex div {
  flex: 1 0 auto;
}

.night_back p,
.night_back h2 {
  margin: auto;
  color: #eaeced;
}

.night_back h2 {
  padding-top: 50px;
}

.night-form {
  padding: 10px 10px 40px;
  margin: 25px auto;
  width: 80%;
  border-radius: 5px;
}

.night-form h2 {
  color: #010102;
  margin: 0 0 20px;
  padding: 0;
}

.night-form label {
  font-weight: 500;
}

.night-form textarea {
  min-width: 100%;
}

.block-form {
  display: block;
  margin: 10px auto;
}

.night-list{
  list-style-type: circle;
  margin: auto;
}

.night-form input,
.night-form textarea {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.send {
  text-align: center;
  background-color:#eaeced;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
  margin: 20px auto 0;
}

.send a {
  color: #010102;
  text-decoration: none;
}

.send:hover {
  background-color:#8dafb5;
}

.send a:hover {
  color: #d7e3e5;
}

#email,
#phone,
#name {
  min-width: 100%;
}

/*GET INVOLVED*/

.contact-form {
  width: 80%;
  margin: auto;
  padding: 10px;
  background-color: #d7e3e5;
  border-radius: 20px;
}

.contact-form input,
.contact-form textarea,
.contact-form button,
.contact-form h2,
.message-form input,
.message-form textarea,
.message-form button,
.night-form button {
    margin: 10px auto;
    display: block;
    width: 100%;
    border: none;
    border-radius: 20px;
}

.contact-form button,
.night-form button{
  height: 40px;
  margin: 20px auto 10px;
}

.contact-form button:hover,
.message-form button:hover,
.night-form button:hover {
    background-color: #3A403B;
    color:#c8c7c2;
}

.form-item input,
.form-item textarea {
	border: 2px solid #f7f7f7;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-item input:focus,
.form-item textarea:focus,
.night-form input:focus,
.night-form textarea:focus {
	outline: 0;
	border-color: #3A403B;
}

.form-item.success input,
.form-item.success textarea,
.block-form.success input,
.block-form.success textarea {
	border-color: #2abb66;
}

.form-item.error input,
.form-item.error textarea,
.block-form.error input,
.block-form.error textarea {
	border-color: #e74c3c;
}

.form-item p,
.form-item small,
.block-form small {
    display: inline;
    font-size: .8rem;
}

.block-form label {
  display: inline;
}

.form-item small,
.block-form small {
	color: #e74c3c;
	visibility: hidden;
}

.form-item.error small,
.block-form.error small {
	visibility: visible;
}

.involved-main,
.explore-main {
  padding-bottom: 0;
}

.involved-main img,
.explore-main img {
  display: block;
  margin: 20px auto 0;
  height: 350px;
  width: 80%;
  border-radius: 20px;
  object-fit: cover;
  object-position: bottom;
}

.contact-info {
  margin: 0;
}

.hrblack {
  border: 1px solid #010102;
}

.clicktodonate {
  display: block;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  text-decoration: underline;
  font-family: "bc-sklonar", sans-serif;
}
.clicktodonate:hover {
  font-weight: 600;
}

.donate,
.donation-box {
  display: none;
}

.donate:checked ~ .donation-box {
  display: block;
}

.donation-box {
  background-color: #d7e3e5;
  max-width: 70%;
  margin: 10px auto;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 16px 16px 6px rgba(0, 0, 0, 0.2), 2px 6px 6px rgba(0, 0, 0, 0.23);
}

.donation-box a {
  color: #010102;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 10px;
  margin-top: 15px;
  background-color: #f5c15b;
  border-radius: 20px;
}

.donation-box a:hover {
  background-color: #8dafb5;
}

.donation-page a,
.donation-page p,
.donation-page h2 {
  text-align: center;
}

.donation-page a {
  color: #010102;
  display: block;
  margin: auto;
  padding: 15px 15px 30px;
  text-decoration: underline;
}

.box-p {
  font-size: 1rem;
  font-weight: 500;
}

/*SEARCH*/
.search-bar {
  text-align: center;
}

.search {
  margin: 0;
  border: none;
  height: 40px;
  padding: 0 20px;
  background-color: #eaeced;
}

.search-bar input {
  width: 50%;
  border-radius: 20px 0 0 20px;
}

button.search {
  border-radius: 0 20px 20px 0;
  background-color: #3b717a;
  margin: -5px;
  cursor: pointer;
}

button.search i {
  font-size: 1rem;
}

.search-results {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.search-result_item p,
.search-result_item h2 {
  color:#010102;
}

.search-result_item {
  margin: 40px 0;
}

.search-result_item img {
  width: 100px;
  height: 100px;
  margin: 10px;
  object-fit: cover;
  float: left;
}


/*FOR TABLETS */
@media screen and (min-width: 600px) {
  .exhibition-item {
    min-width: 400px;
    height: 450px;
  }

  nav {
    height: 100%;
  }

  /*Slide text*/
  .slide-text {
    width: 100%;
    top: 50%;
  }
  .slide-text p {
    animation: slide-left 2.5s;
    font-size: 3.6rem;
    font-weight: 800;
  }

  @keyframes slide-left {
    from {
      margin-left: 100%;
      width: 190%; 
    }

    to {
      margin-left: 10%;
      width: 80%;
    }
  }
}

/*FOR MOBILE SCREENS*/
@media screen and (min-width: 1024px) {
  /*Slide text*/
  .slide-text {
    width: 100%;
    top: 50%;
  }
  .slide-text p {
    animation: slide-left 2.5s;
    font-size: 4.6rem;
    font-weight: 800;
  }

  /*Scroll indicator bouncing arrow*/
  .scroll-indicator {	
    font-size: 3rem;
  }
  /*-*/
  
  .category-container {
    flex-direction: row;
    align-items: center;
  }
  
  .category-item {
    width: 850px;
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .category-item:hover {
    background-color:#f5c15b;
  }
  
  .search-bar p:hover {
    font-weight: 500;
  }

  .exhibition-item {
    display: flex;
    width: 80%;
    height: 350px;
  }

  .exhibition-item img {
    width: 400px;
    height: 350px;
    border-radius: 20px 0 0 20px;
  }

  .exhibit-text {
    margin: auto;
  }

  .exhibition-item a:hover,
  .exhibition-container a:hover {
    font-weight: 400;
  }

  .exhibition-container p {
    font-size: 1.2rem;
  }

  .exhibition-container h1 {
    font-size: 4rem;
    text-align: center;
    margin: auto;
    padding-top: 50px;
  }

  footer,
  .content-container {
    margin-left: 110px;
  }

  main {
    margin-left: 110px;
  }

  nav {
    width: 110px;
    position: fixed;
  }

  h1 {
    font-size: 3.5rem;
  }

  p,
  .in-text-link {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 2.2rem;
    margin-top: 20px;
  }


  .for_kids h3 {
    font-weight: 700;
    font-size: 1.5rem;
  }

  .arrange {
    padding-top: 100px;
  }

  .contact-info {
    max-width: 400px;
    margin: auto;
  }

  .contact-form {
    padding: 30px;
  }

  .donate:hover {
    background-color: #f5c15b;
    font-weight: 800;
  }

  .clicktodonate {
    padding: 20px;
  }

  #logo {
    width: 100px;
    height: 100px;
  }

  .explore-header,
  .index-header,
  .exhibit-page,
  .getinvolved-header {
    background-position: bottom center;
    background-attachment: fixed;
  }

  .header-image img {
    height: 350px;
    object-fit: cover;
  }
} 
